.pra{
    background-color: tomato;
    height: auto;
    padding: 10px;
}
p{
    color: #fff;
}
h1{
    text-align: center;
}
.pic img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}